html {
height: 100%;
}

body {
  height: 100%;
}

.App {
  min-height: 100vh;
  background-color: #ECECEC;
  background-image: url('/pawprints.png');
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 50px;
}
