.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 660px;
  justify-content: center;
  padding: 20px;
  background-color: #90ccf4;
  border: 3px solid #5da2d5;
  margin-top: 20px;
}

.images-wrapper img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 8px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgb(70,70,70);
  border: 2px solid #ECECEC;
}

.images-wrapper.loading img {

}

@media screen and (max-width: 500px) {
  .images-wrapper {
    width: 200px;
  }
}
