.menu-bar-wrapper {
  /* background-color: #ECECEC; */
  background-color: #f3d250;
  height: 60px;
  display: flex;
  align-items: center;
}

.menu-bar-wrapper .logo {
  font-size: 18px;
  margin: 0 15px;
}

.logo .logo-bold {
  font-weight: bold;
}
