.query-bar-wrapper {
  background-color: #f78888;
  padding: 20px;
  border-radius: 10px;
}

.search-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.search-form > div {
  margin: 5px 0;
}

.search-form input[type=text] {
  height: 20px;
  padding: 6px 10px;
  margin: 0 5px;
  font-size: 16px;
  width: 160px;
  border-radius: 8px;
  border: 3px solid transparent;
  background: url('/dogpaw.png') no-repeat scroll 5px 5px;
  background-size: 20px 20px;
  background-color: white;
  padding-left:35px;
}

.search-form input[type=text]:focus {
  /* outline: 3px solid pink; */
  border-color: pink;
  outline: none;
}

.breed-option {
  display: flex;
}

 .breed-option .paw-print {
  height: 2px;
  width: 2px;
  background-size: contain;
}

.search-form button {
  font-size: 16px;
  padding: 2px 10px;
  margin: 0 5px 0 15px;
}

.breed-form-choices {
  position: absolute;
  max-height: 208px;
  width: 180px;
  overflow: scroll;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid black;
  background-color: lightgrey;
}

.breed-form-choices div {
  padding: 10px;
}

.breed-form-choices div:hover {
  background-color: gray;
  cursor: pointer;
}

.dropdown-wrapper {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.dropdown-wrapper .dropdown-label {
  margin: 0 5px;
}

.dropdown-wrapper select {
  height: 30px;
  background-color: #ececec;
  border: 1px solid black;
  font-size: 16px;
}

.dropdown-wrapper select:focus {
  outline: none;
}
