.dropdown-wrapper {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.dropdown-wrapper .dropdown-label {
  margin: 0 5px;
}



.dropdown-wrapper select {
  height: 30px;
  background-color: #ececec;
  border: 1px solid black;
  font-size: 16px;
}

.dropdown-wrapper select:focus {
  outline: none;
}
